/* Aggregate styles for Tipo de Documento module
@import url('../documentotipo/documentotipoadd.css');
@import url('../documentotipo/documentotipoedit.css');
@import url('../documentotipo/documentotipodelete.css');
@import url('../documentotipo/documentotipolist.css');
@import url('../documentotipo/empresadocumentotipolist.css'); */
