/* Aggregate styles for Estudiante module */
@import url('../estudiantes/estudiante_list.css');
@import url('../estudiantes/estudiante_add.css');
@import url('../estudiantes/estudiante_edit.css');
@import url('../estudiantes/estudiante_deactivate.css');
@import url('../estudiantes/estudianteview.css');
