/* Aggregate styles for Machote Global module */
@import url('../machoteglobal/machoteglobalList.css');
@import url('../machoteglobal/machoteglobaledit.css');
@import url('../machoteglobal/machoteglobalview.css');
