/* Aggregate styles for Portal Acceso module */
@import url('../portalacceso/portalaccesolist.css');
@import url('../portalacceso/portaladd.css');
@import url('../portalacceso/portaldelete.css');
@import url('../portalacceso/portaledit.css');
@import url('../portalacceso/portalresetpsw.css');
@import url('../portalacceso/portalview.css');
